<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Gallery</title>
    <style>
        h1, div {text-align: center;}
        ul {width: 200px; margin: 20px auto;}
        a:visited, a:link {text-decoration: none; color: black;}
        a:hover {text-decoration: underline;}
    </style>
</head>
<body>
     <h1>Image Gallery</h1>
     <hr>
     <div>
         <img src="static/images/ah.png" alt="sorry...">
         <img src="static/images/red.png" alt="sorry...">
         <img src="static/images/red.png" alt="sorry...">
     </div>
</body>
</html>

