<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>queryString1</title>
    <style>
        h1, h2{text-align: center;}
        ul {width: 200px; margin: 20px auto;}
    </style>
</head>
<body>
     <h1>하이퍼링크로 값 전달하기</h1>
     <hr>
     <ul>
         <!-- <a href="/결과라우터주소/데이터값">데이터값</a> -->
         <li><a href="/resultQuery/2">2단</a></li>
         <li><a href="/resultQuery/3">3단</a></li>
         <li><a href="/resultQuery/4">4단</a></li>
         <li><a href="/resultQuery/5">5단</a></li>
         <li><a href="/resultQuery/6">6단</a></li>
         <li><a href="/resultQuery/7">7단</a></li>
         <li><a href="/resultQuery/8">8단</a></li>
         <li><a href="/resultQuery/9">9단</a></li>
     </ul>
</body>
</html>

