<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>queryString2</title>
    <style>
        h1, h2{text-align: center;}
        ul {width: 200px; margin: 20px auto;}
        a:visited, a:link {text-decoration: none; color: black;}
        a:hover {text-decoration: underline;}
    </style>
</head>
<body>
     <h1>하이퍼링크로 1부터 값까지의 합 구하기</h1>
     <hr>
     <ul>
         <!-- <a href="/결과라우터주소/데이터값">데이터값</a> -->
         <li><a href="/resultQuery2/50">1~50까지의 합</a></li>
         <li><a href="/resultQuery2/100">1~100까지의 합</a></li>
         <li><a href="/resultQuery2/1000">1~1000까지의 합</a></li>
     </ul>
</body>
</html>

