<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
     <h1>Image Gallery</h1>
     <hr>
     <div>
         <img src="/static/images/ah.png" alt="sorry...">
         <img src="/static/images/ah.png" alt="sorry">
         <img src="/static/images/ah.png" alt="sorry...">
         <img src="/static/images/bad_smelly.png" alt="sorry...">
     </div>
     <ul>
         <li><a href="#">Menu1</a></li>
         <li><a href="#">Menu2</a></li>
         <li><a href="#">Menu3</a></li>
         <li><a href="#">Menu4</a></li>
     </ul>
</body>
</html>

