<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DATABASE</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    
</head>

<body>
    <div class="container">
        <h1 class="text-center">HOME</h1>
    </div>
    <hr>
    <div id="main">
        <h3>테이블내용</h3>
    </div>
    <div id="pageBox">
        <h2>페이징</h2>
    </div>  <!-- end div#container -->
</body>

</html>