<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>특정 레코드 보기 </title>
    <meta name='viewport'
          content='width=device-width, initial-scale=1'>

    <!-- 부트스트랩 설치  : start2.html  -->
    <link rel='stylesheet' href='static/css/bootstrap.min.css'>
    <script src='static/js/jquery.min.js'></script>
    <script src='static/js/bootstrap.min.js'></script>

    <!-- 사용자정의 css   -->
    <style>
        th {width:30%; background-color:beige}
        td, th { text-align:center }
    </style>

</head>
<body>
<div class="container">
<!--<div class="table-responsive">-->

    <h1 class="text-center">{{country_list[0]}} 레코드 보기</h1>
    <hr>
    <!--  text-right : 우측정렬
          text-center : 중앙정렬
      -->
    <!-- 레코드 추가 버튼  -->
    <p class="text-right">
        <a href="/" class="btn btn-danger">전체 레코드 보기 </a>

    </p>
    <hr>
    <h2>countryTb 테이블 출력하기</h2>
    <table class="table table-bordered">
        <tr>
            <th>Code</th>
            <td>{{country_list[0]}}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{country_list[1]}}</td>
        </tr>
        <tr>
            <th>Continent</th>
            <td>{{country_list[2]}}</td>
        </tr>
        <tr>
            <th>Population</th>
            <td>{{country_list[3]}}</td>
        </tr>
                <tr>
            <th>GNP</th>
            <td>{{country_list[4]}}</td>
        </tr>
    </table>

    </div>


</body>
</html>