<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JOIN COMPLETE</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <style>

    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center">JOIN COMPLETE</h1>
        <hr>
        <p><h3 class="text-center">회원가입이 완료되었습니다.</h3></p>
        <hr>
        <p class="text-center">
            <a href="/" class="btn btn-success">LOGIN</a>
        </p>
    </div>
</body>

</html>